{% extends "base.twig" %}

{% block title %}Welcome To PixSalle{% endblock %}

{% block content %}
  <h1>PixSalle</h1>
  <p class="landing-text">PixSalle is a new platform where students can freely showcase their work and express themselves through photography.</p>
  <p class="landing-text">This web application will allow them to be members, explore photos posted by other photographers and picture editors, view resources that they can use to improve their work and contribute to the knowledge sharing within the community through blogs.</p>
  <p class="landing-text">Grow as a Photographer with PixSalle and share your experiences with the World!</p>
  <div class="flexbox">
    <div class="grid">
      <img src="https://www.webdesign-inspiration.com/article/wp-content/uploads/2021/06/wxm465om4j4.jpg" alt="inspirational-image-1">
      <img src="http://1453fetih.com/wp-content/uploads/2016/11/photographer-698908_1280.jpg" alt="inspirational-image-2">
      <img src="https://assets.entrepreneur.com/content/3x2/2000/20191009140007-GettyImages-1053962188.jpeg" alt="inspirational-image-3">
      <img src="https://capturetheatlas.com/wp-content/uploads/2020/04/Landscape-photography-gear.jpg" alt="inspirational-image-4">
      <img src="https://ipt.imgix.net/206244/x/0/ultimate-guide-to-understanding-focus-in-photography-3.jpg" alt="inspirational-image-5">
      <img src="https://sortlist-assets.gumlet.io/images/expertises/93.jpg" alt="inspirational-image-6">
    </div>
  </div>
{% endblock %}