{% extends "base.twig" %}

{% block styles %}
  <link rel="stylesheet" href="../css/styles.css">
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <h1>Change {{username}}'s Password</h1>
  <form action="{{ formAction }}" method="POST">
    <label>
      Old Password:
      <input type="password" name="old_password" placeholder="Enter old password">
    </label>
    <label>
      New Password:
      <input type="password" name="new_password" placeholder="Enter new password">
    </label>
    <label>
      Confirm Password:
      <input type="password" name="confirm_password" placeholder="Confirm new password">
    </label>
    <input type="submit" class="submit" value="Reset Password">
    {% if formMessage == 'Error' %}
      <p class="error">An error occurred, try again.</p>
    {% elseif formMessage == 'Success' %}
      <p class="success">Password changed successfully.</p>
    {% endif %}
  </form>
{% endblock %}